body{
background-color: #f5f5f5
}
* { 
    margin: 0;
    outline: none;
}
body{
	background-color:#f7f1e3;
}
.h3-responsive{
	color:#FC427B;
	font-weight:bold;
}

.img-fluid{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 90%;
  position: relative;
    text-align: center;
    transition: margin 0.3s;
    border-radius: 5px;
	height:auto;
	margin:10px;

}
.card image{
	height:auto;
	width:auto;
	}
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.snip1582 {
  background-color: white !important;
  border-radius: 10px;
  border: #0C713D solid 2px;
  color:#0C713D;
  cursor: pointer;
  display: inline-block;
  font-family: Courier New;
  font-size: 1em;
  font-size: 14px;
  line-height: 1em;
  margin: 15px 40px;
  outline: none;
  padding: 12px 40px 10px;
  position: relative;
  text-transform: uppercase;
  font-weight: 700;
}

.snip1582:before,
.snip1582:after {
  border-color: transparent;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
  border-style: solid;
  border-width: 0;
  content: "";
  height: 14px;
  position: absolute;
  width: 14px;
}

.snip1582:before {
  border-color: #0C713D !important;
  border-top-width: 2px;
  color: white;
  left: 0px;
  top: -5px;
}

.snip1582:after {
    border-bottom-width: 2px;
    color: white;
  border-color: #0C713D !important;
  bottom: -5px;
  right: 0px;
}

.snip1582:hover,
.snip1582.hover {
    color: white;
  background-color:#0C713D !important;;
}

.snip1582:hover:before,
.snip1582.hover:before,
.snip1582:hover:after,
.snip1582.hover:after {
  height: 100%;
  width: 100%;
}


.row{text-align:center;}

.sliders{
	width:100%;
height:30%;}
.sliders1{ width:100%;
height:30%;
}
/*--------------NavBar */
.navbar .dropdown-menu div[class*="col"] {
    margin-bottom: 1rem
}
.navbar .dropdown-menu {
    border: none;
    background-color: white !important;
    margin-top: 8px;
	    
}

.navbar {
    padding-top: 0px;
    padding-bottom: 0px
	
}

.navbar .nav-item {
    padding: .5rem .5rem;
    margin: 0 .25rem
}

.navbar .dropdown {
    position: static
}

.navbar .dropdown-menu {
    width: 100%;
    left: 0;
    right: 0;
    top: 45px
}

.navbar .dropdown:hover .dropdown-menu,
.navbar .dropdown .dropdown-menu:hover {
    display: block !important
}

.navbar .dropdown-menu {
    border: 1px solid rgba(0, 0, 0, .15);
    background-color: white;
}

a.i {
    margin-top: -20px;
    font-weight: 400;
    color: white
}

a.catogary {
    margin-left: -20px;
    color: white
}

button.srch {
    padding: 0px
}

@media only screen and (max-width: 1024px) and (min-width: 768px) {
    input.srch {
        padding: 0px;
        width: 100%
    }
}

a.nav-link.active {
    font-weight: 700;
    background-color: white;
    color: white
}
a.navbar-brand {
    color: white
}

span.navbar-toggler.icon {
    color: black
}
strong{
    color: black;
}
a.nav-item{
    color: black;
}
.row{
    color: black;
}
/* -------------footer */

.app-google {
    margin: 25px 0;
}
.app-google img {
    width: 150px;
    cursor: p;
}
.input-email {
    position: relative;
    width: 300px;
    margin: auto;
    margin-top: 30px ;
}
.input-email input {
    width: 100%;
    border: none;
    padding-bottom: 12px;
    border-bottom: 1px solid black;
    text-align: center;
}
.input-email i {
    position: absolute;
    right: 12px;
    bottom: 6px;
    cursor: pointer;
}
.footer-items {
    text-align:center;
    justify-content: center;
    align-items: center;
	list-style-type:none;
	padding-top:20px;
}

.footer-items li a {
    color: white;
    font-family: var(--main-text-font);
    font-weight: bold;
    font-size: 14px;
}

.footer-items li:last-child i {
    font-size: 14px;
    margin-right: 12px;
    color: white;
}
.footer-items li:last-child i:hover {
    color: white;
}
.footer-items img {
    width: 100px;
}
.footer-text {
    text-align: center;
    font-size: 14px;
    font-family: var(--main-text-font);
	font-weight:bold;
	padding-top:20px;
	color:white;

}

* {box-sizing: border-box;}
.mySlides{display: none;}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Caption text */
.active {
  background-color: #717171;
}

/* Fading animation */

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 14px;}
}
.container{
	margin-top:50px;
	clear:both;
}
/*-------------Slideshow1-------------*/
* {box-sizing: border-box;}
/* Slideshow container */
/* Caption text */

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text1 {font-size: 11px}
}
.container1{
	margin-top:50px;
	clear:both;
}
.footer{
	margin-top:20px;
	 clear:both;
}
/*--------------------------*/
@media only screen and (max-width:1280px) {
    .post-slide .post-content{
        padding: 0px 15px 25px 15px;
    }
	.b-0 {
    bottom: 0;
}
/* Make the image fully responsive */
 img{display:block;}}


 .cardp p{
    font-weight: 900;
    color: #0C713D !important;
    font-size: 18px;
    font-family: Tahoma;

 }
 .product-price-old {
    font-family: 'Noto Serif', serif;
    text-decoration: line-through;
    font-size: 20px;
    color: #acacac;
    line-height: 18px;
    font-weight: 400;
    margin-left: 5px;
    margin-right: 10px;
}

.sale_count {
    position: relative;
    z-index: 8;
    display: inline-block;
    width: 45px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    border-radius: 15px;
    padding: 0px 0px;
    background: #f8452d;
    color: #fff;
    font-family: 'Noto Serif', serif;
    font-size: 12px;
}

.icon-bottom-title {
    display: block;
    background: url(https://tocotocotea.com/wp-content/themes/tocotocotea/assets/images/home_line.webp) no-repeat center;
    text-align: center;
    width: 315px;
    height: 30px;
    
    
}
.section-title {
    display: flex;
    flex-direction: column;
    align-items: center;
}
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
.text-2 {
    font-size: 50px;
    text-align: center;
    color: #000000;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1.8px;
    text-transform: uppercase;
    margin-bottom: 0 !important;
    padding: 0 50px;
}
 .text-1 {
    color: #d3b673;
    font-size: 30px;
    margin-bottom: 5px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

.snip1583 {
    background-color: white !important;
    border-radius: 10px;
    border: #0C713D solid 2px;
    color:#0C713D;
    cursor: pointer;
    display: inline-block;
    font-family: Courier New;
    font-size: 1em;
    font-size: 14px;
    line-height: 1em;
    margin: 15px 40px;
    outline: none;
    padding: 12px 40px 10px;
    position: relative;
    text-transform: uppercase;
    font-weight: 700;
  }
  
  .snip1583:before,
  .snip1583:after {
    border-color: transparent;
    -webkit-transition: all 0.25s;
    transition: all 0.25s;
    border-style: solid;
    border-width: 0;
    content: "";
    height: 14px;
    position: absolute;
    width: 14px;
  }
  

  
  .snip1583:hover,
  .snip1583.hover {
      color: white;
    background-color:#0C713D !important;
    text-decoration: none;
  }
  
  .snip1583:hover:before,
  .snip1583.hover:before,
  .snip1583:hover:after,
  .snip1583.hover:after {
    height: 100%;
    width: 100%;
  }
.title {
    line-height: normal;
    margin: 0 0 50px;
    color: black;
}



/*          */

.howtobuy {
    background: #fff;
    text-align: center;
    padding: 40px 20px 60px;
}

.howtobuy ul li {
    font-size: 24px;
    text-align: center;
    vertical-align: middle;
}

.d-inline-block {
    display: inline-block!important;
}

ul li, ol li {
    list-style: none;
}
.howtobuy ul li.arr {
    vertical-align: middle;
    padding: 0 20px;
    margin-bottom: 50px;
}



.howtobuy ul li img {
    max-width: 150px;
}
.howtobuy ul li img {
    max-width: 100%;
}
img {
    vertical-align: middle;
    border-style: none;
}

li {
    text-align: -webkit-match-parent;
}
user agent stylesheet
ul {
    list-style-type: disc;
}

.title-1 {
    font-size: 36px;
    margin: 30px 0;
    display: inline-block;
    padding: 20px 40px;
    border-bottom: 1px solid;
    border-top: 1px solid;
    position: relative;
    margin-bottom: 50px;
    text-align: center!important;
    text-transform: uppercase;
}
.title-1:after {
    right: 5px;
}
.title-1:before {
    left: 5px;
}
.title-1:before, .title-1:after {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #e3c383;
    position: absolute;
    top: 35px;
    content: "";
}
*, ::after, ::before {
    box-sizing: border-box;
}